      <footer>
        <p><small>Copyright <script>var d = new Date(); document.write(d.getFullYear());</script>, {{ site.owner }}</small></p>
        <ul>
            {% for link in site.data.links |  %}
              {% if link[1].categories contains "social" %}
                {% if link[1].simple-icon or link[1].svg %}
            <li>
              <a href="{{ link[1].url }}" alt="{{ link[1].description }}">
                {% if link[1].simple-icon %}
                <img width="16" height="16" src="{{ 'https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/' | append: link[1].simple-icon | append: ".svg" | relative_url }}" alt="{{ link[1].service }}" />
                {% elif link[1].svg %}
                {{ link[1].svg }}
                {% endif %}
              </a>
            </li>
                {% endif %}
              {% endif %}
            {% endfor %}
        </ul>
      </footer>
