
      <header>
        {% if site.logo %}
          <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}

        <p align="center">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
        {% for menuItem in site.data.menu %}
          {% assign linkClass = "" %}
          {% assign splitURL = page.url | split menuItem.link %}
          {% assign splitCount = splitURL | size %}
          {% if splitCount == 2 and splitCount[0] == "" %}
            {% assign linkClass = "active" %}
          {% endif %}
          <li><a href="{{ menuItem.link }}" alt="{{ menuItem.name }}" class="{{ linkClass }}">{{ menuItem.name }}</a></li>
        {% endfor %}
        </ul>
      </header>
