
      <header>
        {% if site.logo %}
          <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}

        <p align="center">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
        {% for menuItem in site.data.menu %}
          {% assign linkClass = "" %}
          {% if page.url == menuItem.link or page.url == menuItem.link | append: ".html" %}
            {% assign linkClass = "active" %}
          {% endif %}
          <li><a href="{{ menuItem.link }}" alt="{{ menuItem.name }}" class="menu {{ linkClass }}">{{ menuItem.name }}</a></li>
        {% endfor %}
        </ul>
      </header>
