
      <header>
        {% if site.logo %}
          <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
              <li><a href="/" alt="Main Page">Home</a></li>
              <li><a href="/projects" alt="Projects">Projects</a></li>
              <li><a href="https://store.sandersoncollectorsguild.com" alt="SCG Merch Store">Store</a></li>
              <li><a href="https://discord.gg/scg" alt="Join our Discord">Join our Discord</a></li>
              <li><a href="https://www.facebook.com/groups/178287579749175" alt="Join our Facebook Grouop">Facebook Group</a></li>
        </ul>
      </header>
